{
	"extends": ["next/core-web-vitals"],
	"rules": {
		"no-console": "warn",
		"quotes": ["error", "single"],
		"prefer-const": "error",
		"semi": ["warn", "never"],
		"react/display-name": "off",
		"react-hooks/exhaustive-deps": "off"
	}
}
